; Setup GitAuth for Linux
; https://github.com/cli/cli/blob/trunk/docs/install_linux.md
; gh auth login
; gh auth setup-git

[user]
	email = priyanshukatuwal@gmail.com
	name = Priyanshu Katuwal

[core]
	editor = nvim
	pager = less

[color]
	ui = true

[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
