# For QT Themes
export QT_QPA_PLATFORMTHEME=qt5ct

# Environment variables set everywhere
export EDITOR="nvim"
export TERMINAL="kitty"
export BROWSER="firefox"

# Touchpad/Mouse - xinput list
export TOUCHPAD=$(xinput list --name-only | grep -i touchpad)
# Trackpad speed (-1 to 1)
xinput set-prop "$TOUCHPAD" "libinput Accel Speed" 0

# Remap caps to escape
# setxkbmap -option caps:escape
# Swap escape and caps
# setxkbmap -option caps:swapescape

# Keys speed
xset r rate 550 25 # initial delay 600ms, repeat 25 ms

# Enable DPMS (Display Power Management Signaling)
xset +dpms

# Turn off screensaver
xset s off

# Turn off screen after 15 minutes (900 seconds) of inactivity
xset dpms 0 0 900

# Screen Wallpaper: sudo pacman -S feh
# feh --bg-fill $XDG_PICTURES_DIR/wallpapers/wallpaper.png &
feh --randomize --bg-fill $XDG_PICTURES_DIR/wallpapers/* &

# Network Manager Applet
nm-applet --indicator &

# Screenshots
flameshot &

# Notifications
dunst &

# Clipboard manager: https://github.com/erebe/greenclip
greenclip daemon &

# Compositor
picom -b

redshift &
